{% extends 'layouts/page.njk' %}

{% block content %}
  {# {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
          {
            text: "LAPs home",
            href: "/"
          }
        ]
  }) }} #}


  <span class="govuk-caption-xl">Local Authority Payments (LAPs) home</span>
  <h1 class="govuk-heading-xl">{{ localAuthority }}</h1>
  
  <div class="govuk-grid-row">
    {{ appCard({
      href: "/payment-documents",
      heading: "Payment documents",
      body: "You can view and download your",
      paragraph: [
        "estimated grant payment amounts for extended producer responsibility (EPR) packaging",
        "remittance advice with payment details"
      ]
    }) }}
    {{ appCard({
      href: "/bank-details",
      heading: "Bank details",
      body: "You can",
      paragraph: [
        "view bank details"
      ]
    }) }}
  </div>
  
  <div class="govuk-grid-row">
    {{ appCard({
      href: "/help",
      heading: "Get help",
      body: "You can view our contact details and find links for",
      paragraph: [
        "read Local Authority Payments (LAPs) guidance",
        "raise a support request"
      ]
    }) }}
  </div>
{% endblock %}

{# {% block content %}
  {{ appHeading({
    text: heading,
    caption: "Core delivery platform Node.js Frontend Template."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          Welcome to the Frontend Template, a starter kit for Core Delivery Platform Node.js Frontends 🚀
        </p>
        <p>
          Based on <a href="https://defra.github.io/software-development-standards">DEFRA</a> and <a
            href="https://design-system.service.gov.uk/">GOV.UK</a> best practices this starter kit provides you with
          a deployable, production ready template 🙌🏻 to start your new service with.
        </p>
        <p>This template comes with:</p>
        <ul>
          <li>
            <a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend</a>
          </li>
          <li>
            <a href="https://hapi.dev">Hapi.js</a>
          </li>
          <li>
            <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
          </li>
          <li>
            <a href="https://github.com/mozilla/node-convict">Node Convict</a>
          </li>
          <li>
            <a href="https://jestjs.io/">Jest testing</a>
          </li>
          <li>GitHub Actions Pull Request and Publish jobs</li>
          <li>
            <a href="https://github.com/pinojs/pino">PinoJs logging</a>
          </li>
          <li>
            <a href="https://standardjs.com">Standard JS</a>
          </li>
          <li>
            <a href="https://eslint.org">ESLint</a>
          </li>
          <li>
            <a href="https://stylelint.io">StyleLint</a>
          </li>
          <li>
            <a href="https://prettier.io">Prettier</a>
          </li>
          <li>and lots more... 😎</li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %} #}