{% extends 'layouts/page.njk' %}

{% block content %}
<h1 class="govuk-heading-xl">Get help</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-padding-bottom-0">Guidance</h2>
    <p class="govuk-body govuk-!-padding-top-0"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Understanding LAPs (opens in new tab)</a><br>Access guidance on LAPs, including how it works and how payments are made</p>
    <h2 class="govuk-heading-m">Support</h2>
    <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Request support (opens in new tab)</a><br>Raise a help request or view open requests</p>
    <h2 class="govuk-heading-m">Contact us</h2>
    <p class="govuk-body">Raise a query, make a complaint, or request communication in alternative formats</p>
    <h2 class="govuk-heading-m">Email</h2>
    <p class="govuk-body"><a href='mailto:EPRCustomerService@defra.gov.uk' class='govuk-link'>EPRCustomerService@defra.gov.uk</a><br>We aim to respond within 20 working days</p>

    <h2 class="govuk-heading-m">Telephone</h2>
    <p class="govuk-body">0300 060 0002<br>Monday to Friday 8am to 6pm (closed on weekends and bank holidays)</p>
  </div>
</div>


{% endblock %}