{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% from "card/macro.njk" import appCard -%}
{% from "languageToggle/macro.njk" import appLanguageToggle %}
{%from "breadcrumbs/macro.njk" import appBreadCrumbs %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {# serviceName being used in govukHeader will be @deprecated in v6. It has moved to govukServiceNavigation - https://github.com/alphagov/govuk-frontend/blob/main/CHANGELOG.md#move-service-name-and-navigation-links-from-the-govuk-header-to-service-navigation-component #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    useTudorCrown: true
  }) }}


{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukServiceNavigation({
  serviceName: "EPR Account for Local Authority Payments",
  serviceUrl: "#",
  navigationClasses: "nav-links-align-right",
  navigation: [
    {
      href: "#",
      text: "Your Defra Account",
      active: false
    },
    {
      href: "#",
      text: "Sign out"
    }
  ]
})
}}

{{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help improve it.'
}) }}

  {% if breadcrumbs.length >= 1 %}
  {{ appBreadCrumbs({
    breadcrumbs: breadcrumbs
  }) }}
  {% endif %}
  
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: "Help"
        },
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Contact"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Something not equally understanding"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Government Digital Service"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
